body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(to right, #8ab6ad, #e2ba9e);
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 23%;
    left: 36%;
    box-shadow: 0.1px ;
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 10px;
}
.center:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 10px 10px 1000px 10px rgba(8,0,0,0.3);
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 12px 0;
}
.txt_field{
    margin-bottom: 20px;
    padding-left: 20px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
}
.txt_field:hover{
    border-width: 5px;
    border-color: #626d78;
}
.passw{
    margin-top: 10px;
}
.pass{
    margin: 5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}
.signup_link{
    margin: 3px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    
    color: #2691d9;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}
.signup_link,#n{
    padding-top: 10px;
    margin-top: 10px;
}